<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container">
        <footer class="d-flex flex-wrap align-items-center py-3 my-4 border-top">
          <div class="col-md-12 d-flex align-items-center justify-content-between">
            <span class="mb-3 mb-md-0 fw-bold">BlogNest - A cozy space for your thoughts and idea</span>
            <span class="mb-3 mb-md-0 text-body-secondary">© <%= new Date().getFullYear() %> BlogNest</span>
          </div>
        </footer>
        <script src="js/script.js"></script>
      </div>
</body>
</html>